.main-title-card ion-img {
  max-height: 25vh;
  overflow: hidden;
}

.sub-home-cards {
  background-image: url("https://images.unsplash.com/photo-1503676260728-1c00da094a0b");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top:0;
  margin-top:0;
}

.home-recommended{
  padding-left: 7.5%;
  margin-top:0;
  padding-top:0;
  margin-bottom:0;
  padding-bottom:0;

}
.home-curated{
  padding-left: 7.5%;
  color: grey;
  padding-top:0;
}